<div class="container mt-5">
    <h2>Detalhes da Pessoa</h2>

    <p><strong>Nome:</strong> {{ pessoa.nome }}</p>
    <p><strong>Nome completo:</strong> {{ pessoa.nomeCompleto }}</p>
    <p><strong>Nome de família:</strong> {{ pessoa.nomeFamilia }}</p>
    <p><strong>Grupo:</strong> {{ pessoa.grupo }}</p>
    <p><strong>Privilégio:</strong> {{ pessoa.privilegio }}</p>
    <p><strong>Gênero:</strong> {{ pessoa.sexo }}</p>
    <p><strong>Data de nascimento:</strong> {{ pessoa.dtNascimento | date }}</p>
    <p><strong>Data de batismo:</strong> {{ pessoa.dtBatismo | date }}</p>
    <p><strong>Telefone:</strong> {{ pessoa.telefone }}</p>
    <p><strong>Endereço:</strong> {{ pessoa.endereco }}</p>
  </div>
  