.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #fff;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.sidebar-collapsed {
  width: 60px;
}

.sidebar-toggle {
  position: fixed;
  top: 10px;
  left: 180px;
  z-index: 1;
}

.sidebar-toggle i {
  font-size: 1.5rem;
  cursor: pointer;
}
